# Add any directories, files, or patterns you don't want to be tracked by version control
preset_fc8f0d5e199577f9/asset.info
preset_fc8f0d5e199577f9/1/asset
preset_fc8f0d5e199577f9/1/hash
preset_fc8f0d5e199577f9/1/net.maxon.asset.metaproperties.meta
preset_fc8f0d5e199577f9/1/net.maxon.asset.previewimageurl.meta.png
preset_fc8f0d5e199577f9/1/net.maxon.asset.timestamp.version
preset_fc8f0d5e199577f9/1/net.maxon.asset.versiontag.version
preset_fc8f0d5e199577f9/1/net.maxon.node.category.meta
preset_fc8f0d5e199577f9/1/strings_en-US.meta
